<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://pmc.or.kr/app/daisoworks_iOS_SwiftUI.ipa</string>
		<key>displayImageURL</key>
		<string>https://pmc.or.kr/app/daisoworks57.png</string>
		<key>fullSizeImageURL</key>
		<string>https://pmc.or.kr/app/daisoworks512.png</string>
	</dict>
	<key>method</key>
	<string>enterprise</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>kr.co.daiso.daisoworks1</key>
		<string>daiso_daisoworks1</string>
	</dict>
	<key>signingCertificate</key>
	<string>E71B604D55FACC6BCAB9DBC3DBB98E23F9D8C898</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>ECNA8MFJJ8</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
